<div class="container">
    <h1 class="mt-4">ABOUT US</h1><br>
    <h4>Who we are</h4>
    <p>At Societe Generale Global Solution Centre, our role and purpose is to enable the strategic vision of Societe Generale Group.

        Our ambition is to add value by combining the stability and confidence of large successful firm with the agility and speed of a start-up.
        
        We are doing this by pioneering cutting edge innovation from Design Thinking to Smart Automation & Artificial Intelligence, and applying it to banking.
        
        As the focal point for the Digital Transformation of the SG Group we are solving the challenges of today and aim to discover the opportunities of tomorrow.
        
        All this is made possible by harnessing the best talents in our people to develop solutions that make it simpler, better, easier and faster for our customers.
        
        As one of the largest European Financial Services groups and a rich heritage of over 150 years, the Societe Generale Group has a legacy of being dependable and delivering for millions of customers on a daily basis.
    </p>
    
    <h4>What we do</h4>
    <p> Societe Generale Global Solution Center (SG Global Solution Centre), a 100% owned subsidiary of European banking major Societe Generale (SG), embarked on its Indian journey in 2000, and has displayed remarkable growth since. In 2002, the IT division expanded to include Investment Banking, and the back office operations were launched in 2004. In 2005, the Infrastructure Management Services division was set up to manage infrastructure remotely for the Corporate and Investment Bank. The year 2007 saw the birth of the Securities Services division. In 2010, the Operations division for CIB came about. The inception of the Accounting and Finance division for the Investment Banking operations followed in 2011.

        Today, SG Global Solution Centre stands as a successful offshore development centre with 15 years of sustainable delivery expertise, and a long-term vision, developing global best practices to promote the strategic objectives of the SG group. SG Global Solution Centre has evolved into a centre capable of delivering IT solutions as well as Business and Process consultancy with ease, with an emphasis on quality and cost saving for Societe Generale's varied financial activities. With further diversification and enhanced capability, SG Global Solution Centre has begun developing solutions for entities across the Group, and is recognised for its knowledge and innovation.
    </p>
  </div>
